#main {
    font-family: 'Roboto', sans-serif;

    background-color: rgb(233, 76, 64);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex-wrap: nowrap;
}

.eingabeaufforderung {
    display: none;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 25em;
    height: 14em;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px hsla(0, 0%, 0%, 0.35);
    background-color:rgb(234, 234, 234);
    z-index: 10;
    transition-duration: 1000ms;
}

.eingabeaufforderung h2 {
    margin-top: 0px;
    color: rgb(233, 76, 64);
}

.eingabeaufforderung input {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 3px;
    padding: 4px;
}

.eingabeaufforderung input:hover {
    border-color: rgb(233, 87, 76);
}

.eingabeaufforderung input:focus {
    outline: none;
    background-color: rgb(233, 87, 76);
    color: white;
}

.eingabeaufforderung input:-webkit-autofill{
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
            box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
}


.eingabeaufforderung input:-webkit-autofill:focus{
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgb(233, 87, 76) inset;
            box-shadow: 0 0 0px 1000px rgb(233, 87, 76) inset;
}

.eingabeaufforderung label {
    opacity: 0.8;
}

.eingabeaufforderung .progressDateAndTimeInput {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.eingabeaufforderung .progressDateAndTimeInput input {
    height: 20px;
}

.eingabeaufforderung .progressDateAndTimeInput .progressDiv {
    display: block;
    grid-column-start: 1;
}

.eingabeaufforderung .progressDateAndTimeInput .dateTimeDiv {
    display: block;
    grid-column-start: 2;
    justify-self: end;
}

.eingabeaufforderung .task {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
}

.eingabeaufforderung input:focus::placeholder {
    color: white;
    opacity: 0.8;
}

.eingabeaufforderung .progressDiv .progressWithSuffix {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.eingabeaufforderung .progressDiv .progressWithSuffix .progress {
    border-radius: 4px 0 0 4px;
}

.eingabeaufforderung .progressDiv .progressWithSuffix .progressSuffix {
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 3px;
    height: 22px;
    background: #eee;
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    pointer-events: none;
}

.eingabeaufforderung .buttonDiv {
    display:flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
}

.eingabeaufforderung .buttonDiv button {
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;

    display: block;
    width: 30%;
    border-radius: 5px;

    box-shadow: 0 2px 0px rgb(165, 42, 33);
}

.eingabeaufforderung .cancelbutton {
    background-color: white;
    border: 1px solid red;
    color: black;

    margin-right: 10px;
    margin-left: auto;
}

.eingabeaufforderung .submitbutton {
    background-color: rgb(230, 65, 53);
    border: none;
    color: white;
}

.eingabeaufforderung .submitbutton:focus,
.eingabeaufforderung .submitbutton:hover {
    background-color: rgb(233, 81, 70);
}

.eingabeaufforderung .cancelbutton:focus,
.eingabeaufforderung .cancelbutton:hover {
    background-color: rgb(247, 247, 247);
}

#todoheadercon {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 70px;
    background: rgb(49, 49, 49);
    box-shadow: 0 4px 5px hsla(0, 0%, 0%, 0.35);
    z-index: 9;
}

#todoheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50em;
    padding: 0 8px 0 8px;
    margin-left: auto;
    margin-right: auto;
}

#todoheader h2 {
    text-shadow: 1px 1px #9c9c9c;
    font-size: 35px;
    height: 70px;
    line-height: 70px;
    margin: 0;
    text-align: center;
    color: white;
}

#todoheader button {
    border: none;
    border-radius: 50%;
    font-weight: bold;
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin: 10px 0px 10px 10px;
    background:rgb(226, 64, 52);
    box-shadow: 1px 1px 0px rgb(170, 57, 49);
    color: white;
}

#todoheader button:focus,
#todoheader button:hover {
    background:rgb(230, 83, 73);
    cursor: pointer;
}

#todomain #todoList {
    margin-top: 80px;
    transition: filter 150ms;
}

#todomain #todoList .todo {
    position: relative;
    display: grid;
    border-radius: 5px;
    width: 50em;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 2px 0px hsla(0, 0%, 0%, 0.35);
    background-color:rgb(234, 234, 234);
}

#todomain #todoList .todo:hover {
    /* background-color:rgb(223, 223, 223); */
    background-color: rgb(196, 48, 48);
    color: white;
}

#todomain #todoList .todobuttons {
    position: relative;
}

#todomain #todoList .tododel, #todomain #todoList .todoedit {
    display: none;
    position: absolute;
    border: none;
    background:rgb(231, 70, 58);
    border-radius: 3px;
    padding: 0;
    right: 8px;
    width: 25px;
    height: 25px;
    color: white;
}

#todomain #todoList .tododel {
    top: 8px;
}

#todomain #todoList .todoedit {
    bottom: 8px;
}

#todomain #todoList .tododel:focus, #todomain #todoList .todoedit:focus,
#todomain #todoList .tododel:hover, #todomain #todoList .todoedit:hover {
    background:rgb(224, 93, 84);
    cursor: pointer;
}

#todomain #todoList .tododue, #todomain #todoList .todoprogress {
    padding-left: 25px;
    font-size: 13px;
}

#todomain #todoList .todotitle {
    font-size: 20px;
}